@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Montserrat:wght@100;200;600;700&family=Outfit:wght@100;300&display=swap');
*{
    /*background-color: #292993;*/
    padding: 0;
    margin: 0;

}
.header-block{
    background-image: url("./pics/k8-TB3CxSMHqmY-unsplash.jpg");
    background-size: 100%;
    font-family: 'Balsamiq Sans', cursive;
}

.header-block-img__wrapper{
    display: block;
}

.header-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-and-proposition__wrapper{
    font-family: 'Balsamiq Sans', cursive;
    background-image: url("./pics/chris-liverani-rD2dc_2S3i0-unsplash.jpg");
    background-size: 100%;
    display: flex;
}

.proposition__wrapper{
    margin: 5px 5px 5px 5px;
    background-color: rgba(161, 161, 161, 0.5);
    border-radius: 0.5rem;
    padding: 5px 5px 5px 5px;
}

.about__wrapper{
    margin: 5px 5px 5px 5px;
    background-color: rgba(161, 161, 161, 0.5);
    border-radius: 0.5rem;
    padding: 5px 5px 5px 10px;
}