@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Montserrat:wght@100;200;600;700&family=Outfit:wght@100;300&display=swap');
*{
    /*background-color: #292993;*/
    padding: 0;
    margin: 0;

}
main{
    font-family: 'Balsamiq Sans', cursive;
    color: #ffffff;
}


.header-block-img {
    width: 100%;
    height: 1000px;
}

.header-block-img__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text__wrapper {
    position: absolute;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

.header-text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1.2rem;
    font-size: 50px;
    text-shadow: 2px 2px 2px #272727;
}


.main-wrapper {
    display: flex;
    justify-content: center;
}

.some_div {
    width: 40%;
    height: 40%;
    background-color: #272727;
    position: absolute;
    opacity: 0.7;
    border-radius: 1.5rem;
}

.some-div__text_1 {
    position: absolute;
    background-color: #272727;
    height: 45%;
    opacity: 0.5;
    border-radius: 0.5rem;
    width: 42%;
    margin: 10rem 10rem 5px 5px;
}

.some-div__text_2 {
    position: absolute;
    background-color: #272727;
    height: 49%;
    opacity: 0.5;
    border-radius: 0.5rem;
    width: 53.5%;
    margin: 10rem 5px 5px 55rem;
}


.media{
    display: block;
    position: absolute;
    font-size: 28px;
    margin: 5px 10rem 5px 5px;
    text-shadow: 2px 2px 2px #272727;
}

.about-lessons{
    display: block;
    position: absolute;
    font-size: 32px;
    margin: 5px 5px 5px 52rem;
    text-shadow: 2px 2px 2px #272727;
}

.about-list{
    list-style-type: circle;
}

.proposition-list{
    list-style-type: circle;
}

.about__wrapper{
    position: absolute;
    font-size: 32px;
    margin: 10rem 5px 5px 60rem;
    text-shadow: 2px 2px 2px #000000;
    border-radius: 2rem;
}

.proposition__wrapper{
    width: 40%;
    position: absolute;
    font-size: 32px;
    margin: 10rem 10rem 5px 35px;
    text-shadow: 2px 2px 2px #000000;
}

.about-wrapper__text{
    font-size: 50px;
}

.proposition-wrapper__text{
    font-size: 50px;
}